<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triathlon Store</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link href="https://fontawesome.com/v5.15/icons?d=gallery&m=free"
rel="stylesheet" />
</head>
<body>
<header>
    <div class="titulo">
        <div><h3> Triathlon Store </h3></div>
            <div class="busqueda">
                <input name="busqueda" placeholder="Buscar productos">
                <i class="fas fa-search"></i>
            </div>
            <div class="contacto">
                <h3>Contáctanos </h3>
                <i class="far fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
            <h3>Síguenos en 
                <i class="fab fa-2x fa-facebook-square"></i>
                <i class="fab fa-2x fa-instagram"></i>
                <i class="fab fa-2x fa-youtube"></i>
            </h3>
    </div>
    <div class="menu">
        <nav>
            <li><a href="home" class="opcion">Inicio   |</a></li>
            <li><a href="mujer"class="opcion">Mujer   |</a></li>
            <li><a href="hombre"class="opcion">Hombre   |</a></li>
            <li><a href="infantil"class="opcion">Infantil  |</a> </li>
        </nav>     
    </div>
</header>
<main>
    <section>
        <div  class="articulo">
            <a href="before"> <i class="fas fa-3x fa-arrow-circle-left" ></i></a>
            <img src="/images/tenisTri.jpg">
            <a href="next"><i class="fas fa-3x fa-arrow-circle-right"></i></a>
        </div>
    </section>
    <section>
        <div><h3> Deportes al momento</h3></div>
        <div class="depMomento">
            <div class="natacion">
                <img src="/images/natacion.jpg">
                <label>Natación</label>
            </div>
            <div class="ciclismo">
                <img src="/images/bicicleta.jpeg">
                <label>Ciclismo</label>
            </div>
            <div class="carrera">
                <img src="/images/carrera.jpg">
                <label>Carrera</label>
            </div>
        </div>
    </section>
    <section>
        <div><h3> Prdocutos destacados</h3></div> 
        <div class="prodDestacados">
            <article>
                <div class="destacado1">
                    <img src="/images/destacado1.jpg">
                    <div class="precio">$1,770.00 </div>
                    <div class="descuento">40% OFF</div>
                    <div class="descrpcion"> Tenis Asics</div>
                </div>
            </article>
            <article>
                <div class="destacado2">
                    <img src="/images/destacado2.jpg">
                    <div class="precio">$770.00 </div>
                    <div class="descuento">30% OFF</div>
                    <div class="descrpcion"> Goggles Speedo </div>
                </div>
            </article>
            <article>
                <div class="destacado3">
                    <img src="/images/destacado3.jpg">
                    <div class="precio">$2,200.00 </div>
                    <div class="descuento">20% OFF</div>
                    <div class="descrpcion"> Trisuit</div>
                </div>
            </article>
            <article>
            <div class="destacado4">
                <img src="/images/destacado4.png">
                <div class="precio">$52,200.00 </div>
                    <div class="descuento">15% OFF</div>
                    <div class="descrpcion"> Bici triatlón Canyon</div>
            </article>
            </div>
        </div>

    </section>
</main>
<footer>
    <div class="pie">
        <h3>Paga con tarjeta de crédito en efectivo</h3>
        <p>Puedes pagar con cualquier tipo de tatjeta de crédito o débito o en efectivo.</p>
        <h3>Envío grátis dentro de la República compra mínima de$1,090.00</h3>
        <p>Si estás registrado en nuestra página y tu compra es mayor a $1,090.00 envío e grátis hasta la puerta de tu casa.</p>
        <h3>Derechos reservados ® </h3>
        <h3>Síguenos en 
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </h3>
    </div>
</footer>
</body>
</html>