<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
    <header>
        <div class="top-header container">
            <div class="base">
                <a class="align" href=""><i class="fas fa-user"></i></a>
            </div>
            <div class="base first">
                <a class="base" href="#">
                    <p>Triatlhon<span>Store</span></p>
                </a>
            </div>
            <div class="base">
                <a class="right" href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <form class="form" action="#" method="GET">
                <input class="input" type="text" placeholder="Buscar productos, marcas y más">
                <button class="submit" type="reset"><i class="fa fa-search"></i></button>
            </form>
        </div>


    </header>

    <div class="bar">

        <a href="#nav" class="mobile-menu">
            <!--El gato en el href es para que sea hacia un id-->
            <i class="fas fa-chevron-circle-down"></i>
        </a>

        <!--Por default el div tomara todo el espacio disponible-->
        <nav id="nav" class="principal-nav">
            <a href="#">Inicio</a>
            <a href="#">Hombre</a>
            <a href="#">Mujer</a>
            <a href="#">Infantil</a>
            <a href="#">Contactanos</a>

            <a href="#" class="close">
                <i class="fas fa-times-circle"></i>
            </a>
        </nav>

    </div>


    <div class="slider clearfix">
        <ul>
            <li><img src="/images/ciclista-banner.jpg " alt=" "></li>
            <li><img src="/images/corredor-banner.jpg " alt=" "></li>
            <li><img src="/images/natacion-banner.jpg " alt=" "></li>
            <li><img src="/images/ciclista-banner2.jpg " alt=" "></li>
            <li><img src="/images/corredor-banner2.jpg " alt=" "></li>
            <li><img src="/images/natacion-banner2.jpg " alt=" "></li>
        </ul>
    </div>

    <main class="container">

        <section class="main-container">
            <h1>Nuestros Deportes</h1>

            <div class="container02">
                <div class="sport-container">
                    <div class="sports">
                        <img src="/images/natacion.jpg" alt="">
                        <a href="#"><button>Natación</button></a>
                    </div>
                    <p>Trajes de Baño desde $500.00</p>
                    <div class="sports-nav">
                        <a href=""><span>Trajes de baño</span></a> &nbsp;
                        <span>|</span>&nbsp;

                        <a href=""><span>Goggles</span></a>&nbsp;
                        <span>|</span>&nbsp;

                        <a href=""><span>Equipo</span></a>
                    </div>
                </div>

                <div class="sport-container">
                    <div class="sports">
                        <img src="/images/bicicleta.jpeg" alt="">
                        <a href="#"><button>Ciclismo</button></a>
                    </div>
                    <p>Bicicletas hasta con el 20% de descuento</p>
                    <div class="sports-nav">
                        <a href=""><span>Bicicletas</span></a> &nbsp;
                        <span>|</span>&nbsp;

                        <a href=""><span>Cascos</span></a>&nbsp;
                        <span>|</span>&nbsp;

                        <a href=""><span>Equipo</span></a>
                    </div>
                </div>

                <div class="sport-container">
                    <div class="sports">
                        <img src="/images/carrera.jpg" alt="">
                        <a href="#"><button>Carrera</button></a>
                    </div>
                    <p>Tenis de todas las marcas</p>
                    <div class="sports-nav">
                        <a href=""><span>Tenis</span></a> &nbsp;
                        <span>|</span>&nbsp;

                        <a href=""><span>Uniformes</span></a>&nbsp;
                        <span>|</span>&nbsp;

                        <a href=""><span>Equipo</span></a>
                    </div>
                </div>

            </div>

        </section>

        <section class="offers">
            <h2>Artículos Destacados</h2>

            <div class="products">
                <article>
                    <img src="/images/destacado1.jpg" alt="">
                    <div class="main-article">
                        <i class="fas fa-swimmer"></i>
                        <div class="container01">
                            <p class="price">$1,800.00</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="description">Mono trifunción</p>
                    </div>
                </article>

                <article>
                    <img src="/images/destacado2.jpg" alt="">
                    <div class="main-article">
                        <i class="fas fa-running"></i>
                        <div class="container01">
                            <p class="price">$1,490.00</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="description">Mochila transición</p>
                    </div>
                </article>

                <article>
                    <img src="/images/destacado3.jpg" alt="">
                    <div class="main-article">
                        <i class="fas fa-biking"></i>
                        <div class="container01">
                            <p class="price">$570.00</p>
                            <p class="discount">15% off</p>
                        </div>
                        <p class="description">Casco ciclismo</p>
                    </div>
                </article>

                <article>
                    <img src="/images/destacado4.jpg" alt="">
                    <div class="main-article">
                        <i class="fas fa-running"></i>
                        <div class="container01">
                            <p class="price">$1,000.00</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="description">Reloj pulsómetro</p>
                    </div>
                </article>
            </div>

        </section>

    </main>

    <div class="social">
        <section class="container">
            <h3 class="follow">Siguenos en:</h3>
            <div class="social-media">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>
        </section>
    </div>


    <section class="container buy">
        <h2 class="buy-title">¿Por qué comprar con nosotros?</h2>

        <div class="blocks">
            <div class="block">
                <img class="block-image" src="/images/icono_1.png" alt="Porque comprar">
                <h3 class="block-title">El mejor precio</h3>
                <p>Los precios más competitivos dentro del mercado nacional.</p>
            </div>

            <div class="block">
                <img class="block-image" src="/images/icono_3.png" alt="Porque comprar">
                <h3 class="block-title">Envio gratis</h3>
                <p>Envío grátis dentro de la República compra mínima de$1,090.00.</p>
            </div>

            <div class="block">
                <img class="block-image" src="/images/icono_4.png" alt="Porque comprar">
                <h3 class="block-title">La mejor calidad</h3>
                <p>Tenemos artículos de las mejores marcas y de la mejor calidad.</p>
            </div>
        </div>

    </section>

    <footer>
        <div class="container">
            <h4>Lo mejor para el triatleta!</h4>
            <img src="/images/logo.png" alt="">
            <p>TriathlonStore - Todos los Derechos Reservados ®</p>
        </div>
    </footer>
</body>

</html>