:root {
    --fuentePrincipal: 'Raleway', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;
    --primario: #00305efa;
    --secundario: #29bdebef;
    --terciario: #066de2ef;
    --gris: rgba(255, 248, 248, 0.87);
    --blanco: #ffffffff;
    --negro: #000000;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: 0;
    }
    20% {
        margin-left: -100%;
    }
    30% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -300%;
    }
    70% {
        margin-left: -300%;
    }
    80% {
        margin-left: -400%;
    }
    90% {
        margin-left: -400%;
    }
    95% {
        margin-left: -500%;
    }
    100% {
        margin-left: -500%;
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*10px = 1rem*/
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    background-color: var(--gris);
}


/*Globales*/

a {
    text-decoration: none;
    /*Para quitarle el subrayado a todos los enlaces*/
}

img {
    max-width: 100%;
    margin: auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}


/*Utilidades*/

.container {
    width: min(90%, 120rem);
    margin: auto;
}

.right {
    text-align: right;
}

.clearfix::after {
    /*Hace que se limpien los floats*/
    content: '';
    clear: both;
    display: block;
}


/*Header*/

header {
    background-color: var(--primario);
    margin: 0;
    padding: 0;
}

.top-header a i {
    display: block;
    font-size: 2rem;
    color: var(--blanco);
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.base {
    flex: 0 0 calc(33.3% - 1rem);
}

.top-header p {
    font-weight: 400;
    color: var(--primario);
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.top-header span {
    font-weight: 700;
    font-family: var(--fuenteSecundaria);
}

form {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    margin: 0.5rem auto;
}

form .input {
    font-size: 1.5rem;
    color: var(--primario);
    border: none;
    border-radius: 0.4rem;
    overflow: hidden;
    width: 20rem;
    height: 4rem;
}

form .submit {
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    color: var(--primario);
    height: 4rem;
    margin-left: -1rem;
}


/*Nav-Responsive*/

.bar {
    overflow: hidden;
}

.mobile-menu {
    color: var(--blanco);
    font-size: 2.5rem;
    text-align: center;
    display: block;
    padding: 1.5rem 0;
}

#nav:target {
    max-height: 80rem;
    transition: .5s;
}

.principal-nav {
    max-height: 0;
    transition: .5s;
}

.close:hover {
    background-color: var(--primario)!important;
    color: var(--blanco)!important;
}


/*Navegación*/

.bar {
    background-color: var(--primario)
}

.principal-nav a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.8rem;
    display: block;
    /*Hace que el elemento se ponga uno encima de otro*/
    text-align: center;
    padding: 1rem;
}

.principal-nav a:hover {
    background-color: var(--secundario);
    color: var(--terciario);
}


/*Slider*/

.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 600%;
    animation: cambio 20s infinite alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 20rem;
}


/*Main*/

.sport-container p {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.sports {
    position: relative;
    transition: opacity 1s;
}

.sports:hover {
    opacity: 0.8;
}

.sports img {
    margin: 0 auto;
    width: 100%;
}

.sports a {
    text-decoration: none !important;
    /* background-color: rgba(122, 108, 108, 0.5); */
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports a button {
    background-color: rgba(122, 108, 108, 0.5);
    border: none;
    font-size: 2rem;
    font-weight: 400;
    color: var(--blanco);
    padding: 1rem 2rem;
    border: solid var(--blanco) 0.2rem;
}

.sports a button:hover {
    cursor: pointer;
}

.sports-nav {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.sports-nav a, .menu-cart a {
    text-decoration: none;
    color: var(--primario);
}

.menu-cart{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart{
    transition: transform 2s;
    width: 80%;
}

.cart:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.saved{
    transition: transform 2s;
    width: 80%;
}

.saved:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    : var(--gris);
}

/*Articles*/

main section article {
    background-color: var(--secundario);
    margin: 1rem 0;
    border-radius: 2rem;
}

.main-article {
    padding: 1.5rem;
    border-top: solid var(--blanco) 0.1rem;
    position: relative;
}

.main-article i {
    display: block;
    font-size: 1.6rem;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: solid var(--primario) 0.1rem;
    background-color: var(--blanco);
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    top: -1.5rem;
}

.main-article i {
    color: var(--primario);
}

.container01 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price {
    font-size: 1.5rem;
    flex: 0 0 calc(50% - 1rem);
    color: var(--primario);
}

.discount {
    background-color: red;
    color: var(--blanco);
    border-radius: 0.5rem;
}

.price,
.discount {
    margin: 0 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.discount,
.description {
    font-size: 1.6rem;
    font-weight: normal;
}

.description {
    background-color: rgba(0, 0, 0, 0);
    color: var(--blanco);
    padding: 1rem;
    text-align: center;
    position: absolute;
    left: 1rem;
    top: -5.5rem;
    opacity: 0;
    transition: all 1s;
}

.products article:hover {
    box-shadow: 0px 0px 10px var(--primario);
}

.products article:hover .description {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.products article:hover i {
    transform: rotate(-90deg);
}

.products article i {
    transition: transform 2s;
}


/*Redes Sociales*/

.follow {
    text-align: center;
    color: var(--primario);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.social-media {
    text-align: center;
}

.social-media a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--primario);
    padding: 0.5rem;
    margin: 0;
}


/*Bloques*/

.buy {
    background-color: var(--terciario);
    margin-bottom: -8rem;
    position: relative;
    z-index: 1;
    border-radius: 2rem;
    opacity: 2;
}

.buy-title {
    text-align: center;
    color: var(--blanco);
    padding-top: 1rem;
}

.block {
    text-align: center;
}

.block-title {
    margin: 0;
    text-align: center;
    color: var(--primario);
    font-size: 1.8rem;
}

.block p {
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--primario);
    padding: 0 1rem;
    margin: 0;
}

.block p:last-of-type {
    padding-bottom: 1rem;
}


/*Footer*/

footer {
    background-color: var(--primario);
}

footer h4 {
    padding-top: 8rem;
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 1.5rem 0;
    text-transform: uppercase;
    border-radius: 0.8rem;
}

footer img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

footer p {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--blanco);
}


/*Media queries*/

@media (min-width: 320px) {
    .top-header p {
        font-size: 1.5rem;
    }
}

@media (min-width: 480px) {
    /*Header*/
    .top-header p {
        font-size: 1.8rem;
    }
    /*Navegacion*/
    .principal-nav {
        max-height: unset;
        /**unset en este caso es para ignorar el max-height*/
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mobile-menu,
    .close {
        display: none!important;
    }
    /*Slider*/
    .slider img {
        height: 35rem;
    }
    /*Articulos*/
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products article {
        flex: 0 0 calc(50% - 1rem);
    }
    /*Footer*/
    footer img {
        width: 40%;
    }
}

@media (min-width: 768px) {
    /*Header*/
    .align {
        text-align: right!important;
    }
    .top-header a:last-of-type {
        text-align: left;
    }
    .top-header a i {
        margin-left: 1.5rem;
    }
    .base {
        flex: 0 0 calc(10% - 1rem);
    }
    .first {
        order: -2;
    }
    .form {
        order: -1;
        flex: 0 0 calc(70% -1rem);
        padding: 0;
    }
    form {
        width: 60%;
        margin: 0 auto;
    }
    form .input {
        font-size: 1.5rem;
        border: none;
        border: solid var(--blanco) 0.1rem;
        border-radius: 0.5rem;
        width: 60%;
        height: 2rem;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    form .submit {
        font-size: 1.5rem;
        text-align: center;
        border: solid var(--blanco) 0.1rem;
        border-radius: 0.4rem;
        height: 2rem;
        margin-left: 1rem;
        padding: 0.2rem;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    form .submit:hover {
        cursor: pointer;
    }
    /*Navegación*/
    .bar {
        background-color: var(--blanco);
        margin: 0.5rem auto;
        width: 70%;
    }
    .principal-nav a {
        color: var(--primario);
        font-size: 1.5rem;
    }
    .principal-nav a:hover {
        color: var(--terciario);
        background-color: var(--blanco);
    }
    /*Slider*/
    .slider img {
        height: 45rem;
    }
    /*Deportes*/
    .container02 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .sport-container {
        flex: 0 0 calc(33.3% - 1rem);
    }
    /*Articulos*/
    .products article {
        flex: 0 0 calc(25% - 1rem);
    }
    /*Redes Sociales*/
    .social {
        background-color: var(--primario);
        padding: 1rem 0 10rem;
    }
    .follow,
    .social-media a {
        color: var(--blanco);
        font-size: 3rem;
    }
    /*Bloques*/
    .buy {
        margin-top: -8rem;
    }
    .buy-title {
        font-size: 2rem;
    }
    .blocks {
        display: flex;
        justify-content: space-between;
    }
    .block {
        flex: 0 0 calc(33.3% - 1rem);
    }
    /*Footer*/
    footer img {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    /*Slider*/
    .slider img {
        height: 50rem;
    }
    /*Footer*/
    footer img {
        width: 20%;
    }
}


/*$telefono: 480px;
$tablet: 768px;
$desktop: 1200px; */