* {
    margin: 0 px ;
    padding: 0 px ;
    box-sizing: border-box ;
    }

body {
    font-family: 'Raleway', sans-serif;
    background-color:rgb(211, 208, 208);
    font-size: 12px;
}

header{
    margin: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

a{
    text-decoration: none;
    color:rgb(22, 22, 22);
}
a:hover{
    color:white
}

li {
    list-style-type: none;
    text-decoration-style: none;
    text-decoration: none;
    /* background-color: gray; */
    padding: 1px 30px;
    /* border-radius: 30%; */
}

li:hover{
    background-color: gray;
}

.contacto i{
    padding: 10px;
}

.titulo{
    display: flex;
    flex-wrap:wrap; 
    padding: 1%;
    flex-direction: row; 
    background-color:lightseagreen;
}

.titulo div{
    display:flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    margin: auto;
}

.articulo{
    width: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articulo img{
    width: 70%;
}
.articulo i{
    padding: 15px;
    color: gray;
}

nav{
    padding: 20px 5px 10px 5px ;
    margin:auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    color:white

}
.menu{
    
}

.depMomento{
    width: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap:nowrap;
    flex-direction: row;
    padding: 2px;
    border-bottom: solid 3px gray;
}

.depMomento label{
    font-weight: bold;
}

.depMomento img{
    width: 30vw;
    padding: 10px;
}

.prodDestacados{
    width: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap:nowrap;
    flex-direction: row;
    padding: 2px;
    border-bottom: solid 3px gray;
}

.prodDestacados article{
    width: 25%;
}
.prodDestacados img{
    width: 20vw;
    padding: 10px;

}
.pie{
    text-align: center;
}