<!DOCTYPE html>
<html lang="en">

<!--Partial del head-->
<%- include('partials/head') %>
<!--Se dejaron afuera las ccs propias de la pagina-->
    <link rel="stylesheet" href="css/style_formulario.css">
    <title>Formulario</title>

<header>
    <div class="top-header container">
        <a href="/login"><i class="fas fa-user"></i></a>
        <a href="/">
            <p>Triatlhon<span>Store</span></p>
        </a>
</header>

<body>
    <section class="form-register">
        <h4>Triathlon Store</h4>
        <h4>INGRESAR</h4>
        <form action="Register" method="POST">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        </form>
        <form action="Register" method="POST">
            <input class="controls" type="password" name="pass1" id="correo" placeholder="Ingrese su contraseña">
        </form>
        </form>
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <form action="Register" method="POST">
            <input class="botons" type="submit" value="Ingresar">
        </form>
        <form action="LoginCuenta" method="POST">
            <p><a class="botons" href="#">¿Olvidaste tu contraseña?</a></p>
        </form>
        <h4>O bien ingresa a través de...</h4>
        <form action="LoginExternoGoogle" method="POST">
            <button type="submit" class="LoginGoogle">
            <img href="" src="/images/googlelogo.png" width="80px">
        </button>
        </form>
        <form action="LoginExternoFacebook" method="POST">
            <button class="LoginFacebook">
            <img href="" src="/images/facebooklogo.png" width="80px">
        </button>
        </form>

        <form action="LoginRegistro" method="POST">
            <p><a class="botons" href="formulario">¿Aún no te has registrado?</a></p>
        </form>

    </section><br>

    <!--Partial del footer desde social media-->
    <%- include ('partials/footer')%>
</body>

</html>