<!DOCTYPE html>
    <html lang="en">    
        <!--Partial del head-->
        <%- include('partials/head') %>

        <!--Se dejaron afuera las ccs propias de la pagina-->
        <link rel="stylesheet" href="css/productsForm.css">
        <link rel="stylesheet" href="css/product.css">
    <body>
        <!--Partial del menu seleccion-->
        <%- include('partials/header') %>

        <main>
            <div class="headProd">
                <h1>Consulta de Productos</h1>
                <form >
                    <div class="formProd">
                    <label for="producto">Nombre del producto</label><input class="form-camp" type="text" value="Producto">  
                    <label for="descrpcion">Descripción del producto</label><input class="form-camp" type="text" value="Descrpcion"> <br>
                    <img src="images/destacado1.jpg" alt="producto">
                    <label for="imagen" ></label><input class="form-camp"  type="file" value="imagen">  
                    <label for="categoria">Categoría del producto</label><input class="form-camp" type="text" value="Categoría">
                    <label for="color">Color </label><input class ="form-camp" class="form-camp" type="text" value="Color">
                    <label for="talla">Talla </label><input type="text"  class="form-camp" value="Talla">
                    <label for="precio">Precio </label><input type="text" class="form-camp" value="Precio">
                        <div class="botones">
                            <input type="submit" class="form-input" value="Guardar">
                            <input type="reset"  class="form-input" value="Limpiar">
                        </div>
                    </div>        
                </form>
            </div>
</main>
</body>
</html>