<!DOCTYPE html>
    <html lang="en">
        <!--Partial del head-->
        <%- include('partials/head') %>    
        <!--Se dejaron afuera las ccs propias de la pagina-->
        <link rel="stylesheet" href="css/productsForm.css">
        <link rel="stylesheet" href="css/product.css">

    <body>
        <%- include('partials/header') %>
        <main>
            
            <div class="headProd">
                <h1>Productos</h1>
                <form >
                <div class="formProd">
                <label for="producto">Nombre del producto</label><input class="form-camp" type="text" value="Producto">  
                <label for="descrpcion">Descripción del producto</label><input class="form-camp" type="text" value="Descrpcion">  
                <label for="imagen">Imagen del producto</label><input class="form-camp" type="file" value="imagen">  
                <label for="categoria">Categoría del producto</label><input class="form-camp" type="text" value="Categoría">
                <label for="color">Color </label><input class="form-camp" type="text" value="Color">
                <label for="talla">Talla </label><input class="form-camp" type="text" value="Talla">
                <label for="precio">Precio </label><input class="form-camp" type="text" value="Precio">
                    <div class="botones">
                        <a href="productsCons"><input class="form-input" type="button" value="Consultar"></a>
                        <input type="submit" class="form-input" value="Guardar">
                        <input type="reset" class="form-input" value="Limpiar">
                    </div>
                </div>
            </form>
        </div>    
        </main>
</body>
</html>