<!DOCTYPE html>
<html lang="en">
<!--Partial del head-->
<%- include('partials/head', {title: 'Estadísticas'}) %>

    <!--Se dejaron afuera las ccs propias de la pagina-->
    <link rel="stylesheet" href="/css/productsForm.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/dash.css">

    <body>
        <%- include('partials/header') %>

        <div id="root">
            <h1 class="main">Estadísticas</h1>
            <div class="container"></div>
        </div> 

        <script  type="text/javascript" src="/js/stats.js"></script>
    </body>
</html>