<!DOCTYPE html>
<html lang="en">
<!--Partial del head-->
<%- include('partials/head', {title: 'Inicio'}) %>

    <body>
        <!--Partial del header-->
        <%- include('partials/header') %>

            <!--Partial del menu seleccion-->
            <%- include('partials/menu') %>


                <main class="container">

                    <section class="main-container">
                        <h1>entre a user</h1>

                    
                    </section>

                    <section class="offers">
                        <h2>Artículos Destacados</h2>

                        <div class="products">
                            <article>
                                <a href="/productDetail"><img src="/images/destacado1.jpg" alt="Mono trifunción"></a>
                                <div class="main-article">
                                    <i class="fas fa-swimmer"></i>
                                    <div class="container01">
                                        <p class="price">$1,800.00</p>
                                        <p class="discount">5% off</p>
                                    </div>
                                    <p class="description">Mono trifunción</p>
                                </div>
                            </article>

                            <article>
                                <a href="/productDetail"><img src="/images/destacado2.jpg" alt="Mochila transición"></a>
                                <div class="main-article">
                                    <i class="fas fa-running"></i>
                                    <div class="container01">
                                        <p class="price">$1,490.00</p>
                                        <p class="discount">10% off</p>
                                    </div>
                                    <p class="description">Mochila transición</p>
                                </div>
                            </article>

                            <article>
                                <a href="/productDetail"><img src="/images/destacado3.jpg" alt="Casco ciclismo"></a>
                                <div class="main-article">
                                    <i class="fas fa-biking"></i>
                                    <div class="container01">
                                        <p class="price">$570.00</p>
                                        <p class="discount">15% off</p>
                                    </div>
                                    <p class="description">Casco ciclismo</p>
                                </div>
                            </article>

                            <article>
                                <a href="/productDetail"><img src="/images/destacado4.jpg" alt="Reloj pulsómetro"></a>
                                <div class="main-article">
                                    <i class="fas fa-running"></i>
                                    <div class="container01">
                                        <p class="price">$1,000.00</p>
                                        <p class="discount">20% off</p>
                                    </div>
                                    <p class="description">Reloj pulsómetro</p>
                                </div>
                            </article>
                        </div>

                    </section>

                </main>

                <div class="block-navbar">
                    <div class="bottom-navbar">
                        <a href="#bottom-nav1" class="bottom-mobile-menu">
                            <span>Ayuda</span>
                            <i class="fas fa-chevron-circle-down"></i>
                        </a>

                        <nav id="bottom-nav1" class="b-nav help">
                            <a href="#">¿Quiénes somos?</a>
                            <a href="#">Contactanos</a>
                        </nav>
                    </div>

                    <div class="bottom-navbar">
                        <a href="#bottom-nav2" class="bottom-mobile-menu">
                            <span>Aviso Legal</span>
                            <i class="fas fa-chevron-circle-down"></i>
                        </a>

                        <nav id="bottom-nav2" class="b-nav advice">
                            <a href="#">Términos y Condiciones</a>
                            <a href="#">Promociones Vigentes</a>
                            <a href="#">Privacidad</a>
                        </nav>
                    </div>
                </div>

                <!--Partial del footer desde social media-->
                <%- include ('partials/footer')%>

    </body>

</html>