<header>
    <div class="top-header container">
        <div class="base">
            <a class="align" href="login"><i class="fas fa-user"></i></a>
        </div>
        <div class="base first">
            <a class="base" href="/">
                <p>Triathlon<span>Store</span></p>
            </a>
        </div>
        <div class="base">
            <a class="right" href="cartNew"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <form class="form" action="/search" method="GET">
            <input class="input" type="text" placeholder="Buscar productos, marcas y más">
            <button class="submit" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>