<header>
    <div class="top-header container">

        <% if (!locals.isLogged) { %>
        <div class="base">
            <a class="align" href="/login">
             <i class="fas fa-user"></i></a>
        </div>
        <% } else { %>
        <div class="base">  
            <a href="/userProfile"><p> <img src="/images/users/<%= locals.userLogged.image %>" width="30" style= "border-radius: 100%"> 
                Hello <%= locals.userLogged.first_name %></p></a>
                <a href="/users/logout">Cerrar</a>
        </div>
        <% } %>
        <div class="base first">
            <a class="base" href="/">
                <p>Triathlon<span>Store</span></p>
            </a>
        </div>
        <div class="base">
            <a class="right" href="/cartNew"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <form class="form" action="/products/search" method="GET">
            <input class="input" type="text" placeholder="Buscar productos, marcas y más" name='keywords'>
            <button class="submit" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>